@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*-- TYPOGRAPHY --*/

h1 {
    font-size: 65px;
    color: rgb(245, 245, 245);
    font-weight: 700;
    line-height: 1.3;

}

h2 {
    font-size: 45px;
    color: rgb(22, 22, 22);
    font-weight: 600;
    line-height: 1.3;
}

h5 {
    font-size: 20px;
    color: rgb(22, 22, 22);
    font-weight: 600;
    line-height: 1.3;
}

p {
    font-size: 16px;
    color: rgb(60, 59, 59);
    line-height: 1.5;
}

.price {
    font-size: 18px;
    color: rgb(0, 127, 247);
    line-height: 1.5;
    font-weight: 600;
}

section#courses {
    margin-bottom: 200px;
}

#RegisterContainer {
    margin-bottom: 100px;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 153, 255);
}

/*-- BODY --*/
body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color: rgb(27, 27, 27);
    font-weight: 400;
}

/*-- Navbar -- */
#HeaderContainer .navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(27, 27, 27);
}

#HeaderContainer .navbar-brand span.highlight {
    color: rgb(0, 153, 255);
}

#HeaderContainer .navbar-brand .fa-graduation-cap {
    transform: rotate(20deg);
}

#HeaderContainer .nav-item {
    padding: 0 5px;
}

#HeaderContainer .nav-link {
    color: rgb(27, 27, 27);
    font-size: 16px;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

#HeaderContainer .nav-link.active {
    color: rgb(0, 153, 255);
}

#HeaderContainer .nav-link:hover {
    color: rgb(0, 153, 255);
}

#HeaderContainer .header-menu {
    width: 70%;
    display: flex;
    justify-content: center;
}

#HeaderContainer .call-btn {
    padding: 10px 20px;
    color: white;
}

.TopHeader {
    background-color: rgba(240, 240, 240, 1);
}

#HeaderContainer .call-btn:hover {
    background-color: rgba(0, 153, 255, 0) !important;
}

/* Header Slider */
.HeaderSlider .carousel-item {
    width: 100%;
    height: 100vh;
    background: no-repeat scroll center scroll;
    background-size: cover cover;
}

.HeaderSlider .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .8;
}

.HeaderSlider .carousel-caption {
    margin-bottom: 100px;
}

.HeaderSlider .carousel-caption p {
    color: white;
    margin-bottom: 30px;
}

.HeaderSlider .carousel-caption .get-started-btn {
    padding: 10px 30px;
}

.HeaderSlider .carousel-caption .get-started-btn:hover {
    background-color: transparent;
}

/* Courses */

#courses {
    margin-bottom: 100px;
}

.CoursesHeader {
    margin-top: 100px;
}

.course-item {
    width: 48%;
    margin: 10px;
}